@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

.root {
    --primaryColor: #306096;
    --secundaryColor: #2C9A5C;
    --terciaryColor: #F3F3F3;
    --primaryFont: "Freeman", sans-serif;
}

body {
    font-family: var(--primaryFont);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

header,
main,
footer {
    margin: 10px 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

select,
button {
    margin: 10px 0;
}